body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0d0d0d;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

/* PANELS */
.panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* LEFT */
.editor-panel {
  background: #1e1e1e;
}

/* RIGHT */
.music-panel {
  background: #111;
  border-left: 1px solid #222;
}

/* BUTTONS */
button {
  background: #6c5ce7;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #5a4bd6;
  transform: scale(1.05);
}

/* TERMINAL */
.terminal {
  background: black;
  color: #00ff9c;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  font-family: monospace;
  height: 150px;
  overflow-y: auto;
}

/* MUSIC STATUS */
.active {
  color: #00ff9c;
  font-weight: bold;
}
.container {
  display: flex;
  height: 100vh;
}

.editor-panel {
  flex: 1.5; /* bigger */
  padding: 15px;
  background: #1e1e1e;
  color: white;
}

.music-panel {
  flex: 1; /* smaller */
  padding: 15px;
  background: #111;
  color: white;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  color: white;
  text-align: center;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  max-width: 500px;
  margin-bottom: 30px;
  color: #aaa;
}